# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
wall_avoiding_robot/Robot2.0/Main/Debug/*
wall_avoiding_robot/Robot2.0/Main/Visual Micro/*
wall_avoiding_robot/Robot2.0/Main/src/*
safe_box/SafeBox/Main/Main/Debug/*
safe_box/SafeBox/Main/Main/Visual Micro/*
# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.atsuo
*.atsln
