# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
*/Visual Micro/*
*/src/*
Connected barometer/main/Debug
project_apb/project_apb/Debug
project_apb/project_apb/Visual Micro
project_apb/Lib
wall_avoiding_robot/Robot2.0/Main/Visual Micro/*

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.atsuo
*.atsln
wall_avoiding_robot/Robot2.0/Main/Visual Micro/.Main.vsarduino.h
online_environmental_data_logger/esp8266_wifi_connect/esp8266_wifi_connect.ino
